/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* small fix */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* body */
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;

    padding: 1.25rem 2.5rem;

    min-height: 100vh;

    background: center / cover no-repeat fixed url("img/EdProfi_bg.svg");
}

.wrapper {
    padding: 1.25rem;

    background: rgba(255, 255, 255, 75%);
    border-radius: 20px;
}

/* header */
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 1.25rem;
}

.logo_img {
    max-width: 9rem;
}

.calender_btn {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 1rem 2rem;

    border-radius: 15px;
    border: none;

    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    background-color: #675FD9;
    text-decoration: none;

    font-family: inherit;
    color: #f2f2f2;
    z-index: 1;

    cursor: pointer;

    -webkit-transition: all .3s;

    -o-transition: all .3s;

    transition: all .3s;
}

.calender_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#675FD9), to(#C056DC));
    background: -o-linear-gradient(left, #675FD9, #C056DC);
    background: linear-gradient(to right, #675FD9, #C056DC);
    z-index: -1;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}

.calender_btn:hover::before {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

/* main */
.main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 10px 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: minmax(15vw, 30vw) 10px auto;
    grid-template-rows: minmax(15vw, 30vw) auto;
    grid-gap: 10px;

    color: #111111;
}
.main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.main > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.main > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.main > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

/* player */
.player {
    position: relative;

    background: #111;
    background-image: url(img/video_preview.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.player_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    width: 80px;
    height: auto;

    border: none;
    background: transparent;

    cursor: pointer;

    -webkit-transition: all .2s;

    -o-transition: all .2s;

    transition: all .2s;
}

.player_btn:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
        -ms-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
}

.player_btn img {
    width: 100%;
    height: auto;
}

/* descr */
.descr {
    padding: 1rem;
}

.lesson_date {
    margin-bottom: .5rem;

    font-size: 1.375rem;
    font-weight: 600;
}

.lesson_title {
    margin-bottom: .75rem;

    font-size: 2rem;
    font-weight: 700;
    color: #8508AC;
}

.lesson_topic {
    font-size: 1.75rem;
    font-weight: 600;
    color: #FF8A00;
}

.lesson_topic span {
    font-weight: 400;
    color: #8508AC;
}

/* sidepanel */
.sidepanel {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;

    padding: 10px;

    overflow-y: scroll;
}

.sidepanel_book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 10px;
}

.book_img {
    max-width: 100px;
    height: auto;

    margin-right: 10px;
}

.book_title {
    margin-bottom: 5px;
}


.search_input_wrapper {
    position: relative;

    background: -webkit-gradient(linear, left top, right top, from(#675FD9), to(#C056DC));

    background: -o-linear-gradient(left, #675FD9, #C056DC);

    background: linear-gradient(to right, #675FD9, #C056DC);

    border-radius: 16px;
    padding: 2px;

    margin-bottom: 10px;
}

.search_input {
    padding: 1rem;

    width: 100%;

    border: none;
    border-radius: 15px;

    font-family: inherit;
    font-size: 1rem;
}

.search_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    background: center / contain url("img/icons/search_icon.svg");

    max-width: 32px;
    max-height: 32px;

    opacity: .5;
}

.search_icon img {
    visibility: hidden;

    display: block;
    width: 100%;
    height: 100%;
}

.search_input:hover~.search_icon img {
    visibility: visible;
}

.tabheader_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.tabheader_item {
    position: relative;
    overflow: hidden;
    padding: 1rem;

    background-color: white;
    cursor: pointer;

    -webkit-transition: background-color .5s;

    -o-transition: background-color .5s;

    transition: background-color .5s;
}

.tabheader_item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#675FD9), to(#C056DC));
    background: -o-linear-gradient(left, #675FD9, #C056DC);
    background: linear-gradient(to right, #675FD9, #C056DC);
    z-index: -1;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.tabheader_item.active {
    color: #f2f2f2;
    z-index: 1;
}

.tabheader_item.active::before {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.tabheader_item:first-child {
    border-radius: 15px 0px 0px 0px;
}

.tabheader_item:last-child {
    border-radius: 0px 15px 0px 0px;
}

.tabcontent {
    padding: 1rem;

    background: white;
}

.accordion_wrapper {
    padding: 2px;
    margin-top: .5rem;

    border-radius: 16px;

    background: -webkit-gradient(linear, left top, right top, from(#675FD9), to(#C056DC));

    background: -o-linear-gradient(left, #675FD9, #C056DC);

    background: linear-gradient(to right, #675FD9, #C056DC);
}

.accordion {
    position: relative;

    padding: 1.125rem;

    width: 100%;

    border: none;
    outline: none;

    border-radius: 15px;

    background: white;

    font-size: 1.25rem;

    text-align: left;
    color: #111;

    cursor: pointer;

    -webkit-transition: all .3s;

    -o-transition: all .3s;

    transition: all .3s;
}

.accordion::after,
.accordion::before {
    /* display: block; */
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);

    content: "";
    width: 20px;
    height: 3px;
    border-radius: 100px;

    background-color: rgba(192, 86, 220, .75);

    -webkit-transition: background-color .2s, -webkit-transform .3s;

    transition: background-color .2s, -webkit-transform .3s;

    -o-transition: transform .3s, background-color .2s;

    transition: transform .3s, background-color .2s;

    transition: transform .3s, background-color .2s, -webkit-transform .3s;
}

.accordion::before {
    right: 25px;

    -webkit-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

            transform: rotate(45deg);
}

.accordion::after {
    right: 12px;

    -webkit-transform: rotate(-45deg);

        -ms-transform: rotate(-45deg);

            transform: rotate(-45deg);
}

.accordion.active::before,
.accordion.active::after,
.accordion:hover::before,
.accordion:hover::after {
    background-color: white;
}

.accordion.active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

}

.accordion.active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}


.accordion.active,
.accordion:hover {
    background-color: rgba(192, 86, 220, .25);
    color: white;
}



.panel {
    padding: 0 1.125rem;
    display: none;
    background-color: white;
    overflow: hidden;
}

.video_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 15px 0px;
}

.video_icon {
    max-width: 32px;
    max-height: 32px;

    margin-right: 15px;
}

.video_title {
    margin-bottom: 5px;

    font-size: 1.125rem;
    font-weight: 600;

    text-decoration: none;

    color: #675FD9;

    -webkit-transition: all .2s;

    -o-transition: all .2s;

    transition: all .2s;
}

.video_title:hover {
    color: #564ec2
}

.video_descr {
    font-size: 0.875rem;
    font-weight: 400;
    color: #616161;
}


/* media */

@media (max-width: 1400px) {
    html {
        font-size: 15px;
    }

    .logo_img {
        max-width: 10rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .calender_btn {
        padding: .7rem 1.4rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 13px;
    }

    .main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: minmax(35vh, 40vw) 10px auto;
        grid-template-rows: minmax(35vh, 40vw) auto;
        grid-gap: 10px;

        color: #111111;
    }

    .main > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .main > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .sidepanel {
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-row: 2;
            grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;

        padding: 0.625rem;

        overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .logo_img {
        max-width: 12rem;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 11px;
    }

    body {
        padding: 10px;
    }

    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .logo_img {
        max-width: 14rem;

        margin-bottom: 15px;
    }

    .calender_btn {
        padding: 1rem 2rem;
    }

    .book_img {
        max-width: 80px;
    }
}